* {
  box-sizing: border-box;
  font-family: Lato, Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.App {
  background: white;
  display: flex;
  flex-flow: wrap;
  text-align: center;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h1 {
  color: #3366ff;
  display: flex;
  letter-spacing: 5px;
  margin-left: 5%;
  margin-top: 1%;
  text-align: left;
}

header {
  background-image: url(https://images.unsplash.com/photo-1546156929-a4c0ac411f47?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80);
  background-size: auto;
  border: 2px solid #3366ff;
  height: 5em;
  width: 100%;
}

main {
  width: 100%;
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  text-align: center;
}
