.area-card {
  align-items: center;
  background-color: white;
  border: solid #3366ff;
  display: flex;
  flex-direction: column;
  height: 375px;
  justify-content: space-between;
  margin: 3%;
  padding: 1%;
  width: 300px;
}


